{% extends 'base.html' %} 
{% block title %}Services{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div id="about" class="w3-container w3-margin-top-20-percent w3-cursive w3-large mb-3">
    <h1 class="w3-border-bottom w3-border-amber" style="border-width: 11px !important;my-3"><b>Ice Creams</b></h1>
    <p class="w3-margin-top-2"> 
     Our website and store both are linked with all 10 brands are as follows :-
    </p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All 10 Companies
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Baskin Robbins</button>
          <button class="dropdown-item" type="button">Kwality Walls</button>
          <button class="dropdown-item" type="button">Amul</button>
          <button class="dropdown-item" type="button">Mother dairy</button>
          <button class="dropdown-item" type="button">Vadilal</button>
          <button class="dropdown-item" type="button">Dinshaw's</button>
          <button class="dropdown-item" type="button">Havmor</button>
          <button class="dropdown-item" type="button">Hangyo</button>
          <button class="dropdown-item" type="button">Haagen-Dazs</button>
        </div>
      </div>
      <div class="Abhi">
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Baskin Robbins</b></h3>
    <p class="w3-margin-top-2"> 
        America's global brand of ice cream, Baskin Robbins was launched in 1993 in India through a joint venture with The Graviss Group.
        Baskin Robbins made history in India by opening a manufacturing unit in Pune- the first operated by the company outside North America.
        Baskin Robbin's ice cream brands are available across India through thousands of parlours located in all major cities as well as small and developing towns.
        <b><i>“Let’s take a ride in a world of scoops” </i></b>
    </p>
    <div class="text-center">
    <img src="static\img\7.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>

    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Kwality Walls</b></h3>
    <p class="w3-margin-top-2"> 
        Kwality Wall's is a company of Hindustan Unilever,[1] the arm of Unilever in India. It is an amalgamated brand name created out of two previously separate
        independent companies that Unilever took over: Kwality of India and Wall's of Great Britain.Kwality, the original Indian company,
        was founded in 1956, and was the first in the region to import machinery for the mass production and sale of ice cream on a commercial scale. In 1995, 
        in view of the growth potential of the frozen confections market, Kwality entered into an agreement with Lever, and has since been known by its current umbrella name.
        At the same time, other brands acquired by Hindustan Unilever, such as Gaylord-Milkfood, were phased out in favour of promoting the Kwality Wall's brand. 
    </p>
    <div class="text-center">
    <img src="static\img\8.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Amul</b></h3>
    <p class="w3-margin-top-2"> 
        Amul is by far the most popular ice cream brand in India.
        It is a brand owned by Gujarat Cooperative Milk Marketing
        Federation- which was formed in 1946 and is the brainchild of 
        some of the most prominent freedom fighters of this country.
    </p>
    <div class="text-center">
    <img src="static\img\9.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Mother dairy</b></h3>
    <p class="w3-margin-top-2"> 
        Mother Dairy is a brand owned by National Dairy Development Board (NDDB), an Indian government organization.
        Mother Dairy is the single largest producer of milk and milk-based products in India, with nationwide operations.
        Mother Dairy makes very good ice creams and also offer a wide range of common and speciality ice creams that are 
        available across the country.
    </p>
    <div class="text-center">
    <img src="static\img\10.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Vadilal</b></h3>
    <p class="w3-margin-top-2"> 
        Vadilal Industries owns this eponymous brand of ice creams. Vadilal rightly deserves the accolade as the pioneer of India’s indigenous ice cream industry.
        Beginning as a small soda manufacturer in 1907, the founder Vadilal Gandhi also started manufacturing ice creams.
    </p>
    <div class="text-center">
    <img src="static\img\11.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>

    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Dinshaw's</b></h3>
    <p class="w3-margin-top-2"> 
        Dinshaw’s is also a pioneer of India’s homegrown ice cream industry. The brand was launched by two brothers, Dinshaw and Eruchshaw Rana way back in 1932.
        Dinshaw’s began as hand-crafted ice cream manufacturer and continues to hold the position today.
        It ranks among the super premium brands of exclusive ice creams in India.
        Though the brand is now mass produced to meet growing demand in India’s ever hungry ice cream market, the company continues to maintain its 
        tradition of making premium products with superior quality raw materials.
    </p>
    <div class="text-center">
    <img src="static\img\13.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Havmor</b></h3>
    <p class="w3-margin-top-2"> 
        Top ice cream brand Havmor finds its roots in the partition of the Indian sub-continent by erstwhile British rulers.
        The brand was launched in 1944 in Karachi by an entrepreneur, Satish Chona.
        Today, Havmor is a respected brand of ice creams in India and is available across the country. The brand is now owned by South Korean MNC, Lotte.
    </p>
    <div class="text-center">
    <img src="static\img\12.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Hangyo</b></h3>
    <p class="w3-margin-top-2"> 
        Hangyo is a very famous brand of ice cream available in various parts of India.
        Hangyo is made by an eponymous subsidiary of Karnataka-based dairy products major, Srikrishna Milk and Milk Products.
        It began as a small unit in Yellapur district of Karnataka in 1989 and rapidly expanded operations across the state.
        High-quality milk and excellent flavours made Hangyo a popular brand of ice cream in Karnataka as well as neighbouring Tamil Nadu, Goa, Maharashtra, Andhra Pradesh, Telangana, and Kerala.
       <b><i> “Share a smile”</i></b>
        Hangyo ice cream is now made at various locations across India. It is one of the fastest growing indigenous ice cream brands and the only one from southern India to have struck big.
    </p>
    <div class="text-center">
    <img src="static\img\14.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
    <h3 class="w3-border-bottom w3-border-amber text-center" style="border-width: 5px !important;"><b>Haagen-Dazs</b></h3>
    <p class="w3-margin-top-2"> 
        Haagen-Dazs is an American brand of speciality ice creams. In India, Haagen-Dazs ice cream is available through its eponymous parlours and at select stores.
        The brand is very popular among ice cream lovers in India: there are several unique flavours that only Haagen-Dazs offers.
        The Signature and Classic collections of Haagen-Dazs consists of must-have ice creams for every aficionado.
        <b><i>“Pleasure is a path to joy”</i></b>
    </p>
    <div class="text-center">
    <img src="static\img\15.jfif" class="img-fluid" height =1000px width= 600px alt="Responsive image">
    </div>
{% endblock body  %} 