{% extends 'base.html' %} 
{% block title %}About Us{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div id="about" class="w3-container w3-margin-top-20-percent w3-cursive w3-large">
    <h2 class="w3-border-bottom w3-border-amber" style="border-width: 11px !important;"><b>ABOUT US</b></h2>
    <p class="w3-margin-top-2"> 
      Hello guys , I am Abhishek Chourasia from Indore.
      A proactive Bachelor of Science in Computer Science (Artificial Intelligence  
      and Machine Learning) student at the Medi-caps University ,
      Indore with strong academic achievement and volunteering
      experience. I am affable person also. Possess strong
      leadership and communication skills with fluency in Hindi and
      English. Keen to pursue a career in Professional IT Services
      with a focus on Machine Learning and Data Analytics.
    </p>
    <p class="w3-margin-top-2"> 
      <b><i>This website was created by Abhishek Chourasia.Here you will get top 10 Famous Ice Creams Brands of India.</i></b>
    </p>
    <p class="w3-margin-top-2"> 
        What could be better on a hot summer’s day than a delicious Ice cream?
        Whether you want to treat yourself or family and friends to ice cream or want to bring joy to a
        party or simply helps your family to enjoy some cool moments.
        Regardless of whatever the reasons, ice cream is something that works wonders: it cheers up the mind.
        With summers getting warmer and winters milder, ice cream is no longer a seasonal delight in India.
        It is consumed over the year. An excellent slice, scoop, bar or cup of ice cream is sure to boost anyone's 
        spirits and spread cheer all around.Just as a quick refresher,Ice Cream makes everything Better.
      </p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Brands</th>
        <th scope="col">Ratings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Baskin Robbins</td>
        <td>5/5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Kwality Walls</td>
        <td>5/5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Amul Ice Creams</td>
        <td>5/5</td>
      </tr>
      <th scope="row">4</th>
      <td>Mother Dairy</td>
      <td>5/5</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Vadilal</td>
      <td>5/5</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Dinshaw's</td>
      <td>4/5</td>
    </tr>
    <th scope="row">7</th>
    <td>Havmor</td>
    <td>4/5</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Hangyo</td>
    <td>3/5</td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>Haagen-Dazs</td>
    <td>3/5</td>
  </tr>

    </tbody>
  </table>
{% endblock body  %} 