{% extends 'base.html' %} 
{% block title %}Services{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div id="about" class="w3-container w3-margin-top-20-percent w3-cursive w3-large">
    <h1 class="w3-border-bottom w3-border-amber" style="border-width: 9px !important;my-3"><b>All Softy</b></h1>
    <p class="w3-margin-top-2"> 
     Our website and store both are stored , delivered and provided all types and flavours of softies .
    </p>
    <div class="container">
        <h1 class="my-2 text-center">All flavours of branded softies.</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static\img\16.jfif" class="d-block w-100" height = 234px weight =234px alt="...">
                <div class="card-body">
                  <p class="card-text">Baskin Robbins</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href ="https://www.baskinrobbinsmea.com/en/flavors/">Flavours</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static\img\17.jfif" class="d-block w-100" height =234px width =234px alt="...">
                <div class="card-body">
                  <p class="card-text">Kwality Walls</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href ="https://www.kwalitywalls.in/home.html">Flavours</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static\img\18.jfif" class="d-block w-100" height = 234px width =234px alt="...">
                <div class="card-body">
                  <p class="card-text">Amul Ice Creams</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href ="https://amul.com/products/icecream.php">Flavours</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static\img\19.jfif" class="d-block w-100" weight = 234px height = 234 alt="...">
                <div class="card-body">
                  <p class="card-text">Mother Dairy</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href ="https://www.motherdairy.com/Product/2">Flavours</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static\img\20.jfif" class="d-block w-100" weight = 234px height = 234 alt="...">
                <div class="card-body">
                  <p class="card-text">Vadilal</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href ="https://www.vadilalicecreams.com/">Flavours</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static\img\22.jfif" class="d-block w-100" weight = 234px height = 234 alt="...">
                <div class="card-body">
                  <p class="card-text">Dinshaw's</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href ="https://www.dinshaws.co.in/ice-cream.html">Flavours</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock body  %} 